<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">Demande de credit</span>
        </div>
        
    </ng-template>

    <p-fieldset legend="Information client " [toggleable]="true" [collapsed]="true">
        <div style=" margin-left: 20%; ">
            <span class="p-float-label">
                <input pInputText id="username" style="width: 240px;" [(ngModel)]="cin"/>
                <label htmlFor="username">N CIN</label>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <p-dropdown   [editable]="true" optionLabel="name"></p-dropdown>
                <label htmlFor="username">N du compte</label>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <p-calendar [showIcon]="true" [showButtonBar]="true"[(ngModel)]="dateNs"></p-calendar>
                <label htmlFor="username">Date de naissance</label>
            </span>

        </div>
        <div style=" margin-left: 55%; margin-top: -11.25%">
           

           

            <br>
            <br>
            <span class="p-float-label">
                <p-calendar [showIcon]="true" [showButtonBar]="true"></p-calendar>
                <label htmlFor="username">Date d'ouverture</label>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <input pInputText id="username" style="width: 240px;" />
                <label htmlFor="username">Situation familiale</label>
            </span>
        </div>

            <div style="margin-left:40%; margin-top: -6%;">
            <span class="p-float-label">
                <input pInputText id="username" style="width: 110px;" [(ngModel)]="nom"/>
                <label htmlFor="username">Nom</label>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <input pInputText id="username" style="width: 110px;" [(ngModel)]="prenom"/>
                <label htmlFor="username">Prenom</label>
            </span>
            </div>

            
    </p-fieldset>
    <p-fieldset legend="Dossier credit" [toggleable]="true" [collapsed]="true">
        <div style=" margin-left: 30%; ">
                    <span class="p-float-label">
                        <p-dropdown   [editable]="true" optionLabel="name"></p-dropdown>
                        <label htmlFor="username">Type credit</label>
                    </span>
            <br>
            <br>
                    <span class="p-float-label">
                        <p-dropdown   [editable]="true" optionLabel="name"></p-dropdown>
                        <label htmlFor="username">Unite</label>
                    </span>
           
        </div>
        <div style=" margin-left: 50%; margin-top: -7%">
                    <span class="p-float-label">
                        <input pInputText id="username" style="width: 240px;" />
                        <label htmlFor="username">Nom</label>
                    </span>
            <br>
            <br>
                    <span class="p-float-label">
                        <p-calendar [showIcon]="true" [showButtonBar]="true"></p-calendar>
                            <label htmlFor="username">Date d'ouverture</label>
                    </span>
            </div>
    </p-fieldset>
    <p-fieldset legend="Granties proposées" [toggleable]="true"[collapsed]="true"> 
        <div style="width: 900px; margin-left: 20%;">     
              <app-table></app-table>
        </div>
    </p-fieldset> 
    <p-fieldset legend="Suivi" [toggleable]="true" [collapsed]="true">
        <div style=" margin-left: 30%; ">
            <span class="p-float-label">
                <p-calendar [showIcon]="true" [showButtonBar]="true"></p-calendar>
                <label htmlFor="username">Date de naissance</label>
            </span>
        </div>
        <div style=" margin-left: 50%; margin-top: -1cm ">
            <span class="p-float-label">
                <input pInputText id="username" style="width: 240px;" />
                <label htmlFor="username">N du compte</label>
            </span>
        </div>

    </p-fieldset>
    <p-fieldset legend="Piece jointe" [toggleable]="true" [collapsed]="true">
        <div style="margin-left: 15cm">
            <p-table  [tableStyle]="{ 'min-width': '30rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Document </th>
                        <th>Obligatoire</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </p-fieldset>
    <p-fieldset legend="Observation" [toggleable]="true" [collapsed]="true">
        <div style="margin-left: 30%;">
            <span class="p-float-label">
                <textarea rows="10" cols="100" pInputTextarea ></textarea>
                <label htmlFor="username">Date de naissance</label>
            </span>        </div>

    
    </p-fieldset>
  
    
</p-fieldset>


