<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">Demande de credit</span>
        </div>     
    </ng-template>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-fieldset legend="Information client " [toggleable]="true" [collapsed]="true">
        <div style=" margin-left: 20%; ">
            <span class="p-float-label">
                <input pInputText
                id="cin"    
                style="width: 240px;" 
                formControlName="cin" 
                [ngClass]="{ 'is-invalid': submitted && f.cin.errors }"
                />
                <label htmlFor="cin">N CIN</label>
                <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
                    <div *ngIf="f.cin.errors.required" style="color: red;">Cin is required</div>
                    <div *ngIf="f.cin.errors.minlength" style="color: red;">
                        Cin must be 8 characters
                    </div>
                    <div *ngIf="f.cin.errors.maxlength" style="color: red;">
                        Cin must be 8 characters
                    </div>
                  </div>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <p-dropdown
                    id="compte"
                    formControlName="compte"
                    [options]="comptes"
                    [(ngModel)]="compte"
                    optionLabel="numcompte">
                </p-dropdown>
                <label htmlFor="compte">N du compte</label>
                <div *ngIf="submitted && f.compte.errors" class="invalid-feedback">
                    <div *ngIf="f.compte.errors.required" style="color: red;">compte is required</div>
                </div>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <p-calendar [showIcon]="true" [showButtonBar]="true"></p-calendar>
                <label htmlFor="dateNs">Date de naissance</label>
            </span>
        </div>
        <div style=" margin-left: 55%; margin-top: -11.25%">
            <br>
            <br>
            <span class="p-float-label">
                <p-calendar     [dateFormat]="'dd/mm/yy'"
                [showIcon]="true" [showButtonBar]="true"></p-calendar>
                <label htmlFor="dateOuverture">Date d'ouverture</label>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <input 
                pInputText 
                formControlName="situationFamiliale" 
                id="situationFamiliale"                     
                style="width: 240px;" 
                />
                <label htmlFor="situationFamiliale">Situation familiale</label>
            </span>
        </div>
            <div style="margin-left:40%; margin-top: -6%;">
            <span class="p-float-label">
                <input 
                    pInputText 
                    id="nom" 
                    style="width: 110px;"
                    [disabled]="true"
                    formControlName="nom"
                    [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"
                />
                <label htmlFor="nom">Nom</label>
                <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required" style="color: red;">Nom is required</div>
                    <div *ngIf="f.nom.errors.minlength" style="color: red;">
                        Nom must be at least 3 characters
                    </div>
                    <div *ngIf="f.nom.errors.maxlength" style="color: red;">
                        Nom must not exceed 20 characters
                    </div>
                </div>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <input 
                    pInputText 
                    id="prenom" 
                    style="width: 110px;"  
                    formControlName="prenom" 
                    [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"
                />
                <label htmlFor="prenom">Prenom</label>
                <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                    <div *ngIf="f.prenom.errors.required" style="color: red;">Prenom is required</div>
                    <div *ngIf="f.prenom.errors.minlength" style="color: red;">
                        Prenom must be at least 3 characters
                    </div>
                    <div *ngIf="f.prenom.errors.maxlength" style="color: red;">
                        Prenom must not exceed 20 characters
                    </div>
                  </div>
            </span>
            </div>   
    </p-fieldset>
    <p-fieldset legend="Dossier credit" [toggleable]="true" [collapsed]="true">
        <div style=" margin-left: 30%; ">
                    <span class="p-float-label">
                        <p-dropdown    
                            id="type"
                            formControlName="type"
                            [options]="types"
                            [(ngModel)]="type"
                            optionLabel="typeCredit">
                        </p-dropdown>
                        <label htmlFor="type">Type credit</label>
                    </span>
            <br>
            <br>
                    <span class="p-float-label">
                        <p-dropdown    
                        id="unite"
                        formControlName="unite"
                        [options]="unites"
                        [(ngModel)]="unite"
                        optionLabel="unite">
                    </p-dropdown>                       
                     <label htmlFor="unite">Unite</label>
                    </span>
        </div>
        <div style=" margin-left: 50%; margin-top: -7%">
                    <span class="p-float-label">
                        <input pInputText id="montant" style="width: 240px;" />
                        <label htmlFor="montant">Montant</label>
                    </span>
            <br>
            <br>
                    <span class="p-float-label">
                        <input pInputText
                        id="echeance"    
                        style="width: 240px;" 
                        formControlName="echeance" 
                        />
                        <label htmlFor="echeance">Nbr d'echeance</label>
                    </span>
            </div>


    </p-fieldset>
    <p-fieldset legend="Granties proposées" [toggleable]="true"[collapsed]="true"> 
        <div style="margin-left: 65%; margin-top: 2cm;">
        </div>
        <div style="width: 900px; margin-left: 20%;">     
              <app-table></app-table>
        </div>
    </p-fieldset> 
    <p-fieldset legend="Suivi" [toggleable]="true" [collapsed]="true">
        <div style=" margin-left: 30%; ">
            <span class="p-float-label">
                <p-calendar [showIcon]="true" id="entreeRelation" [showButtonBar]="true"></p-calendar>
                <label htmlFor="entreeRelation">Entree en relation</label>
            </span>
        </div>
        <div style=" margin-left: 50%; margin-top: -1cm ">
            <span class="p-float-label">
                <input pInputText id="Par" style="width: 240px;" />
                <label htmlFor="Par">Par</label>
            </span>
        </div>
    </p-fieldset>
    <p-fieldset legend="Piece jointe" [toggleable]="true" [collapsed]="true">
        <div style="margin-left: 15cm">
            <p-table  [tableStyle]="{ 'min-width': '30rem' }" [value]="piece">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Document </th>
                        <th>Obligatoire</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-piece>
                    <tr>
                        <td>{{ piece.document }}</td>
                        <td>{{ piece.obligatoire }}</td>
                        <td>{{ piece.status }}</td>
                        <td>    
                            <p-checkbox  [binary]="true" inputId="selectedfile"></p-checkbox>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
            <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" ></p-fileUpload>
        </div>
    </p-fieldset>
    <p-fieldset legend="Observation" [toggleable]="true" [collapsed]="true">
        <div style="margin-left: 30%;">
            <span class="p-float-label">
                <textarea rows="10" cols="100" pInputTextarea ></textarea>
                <label htmlFor="username">Date de naissance</label>
            </span>        </div>

    
    </p-fieldset>
    <p-button     type="button"
    (click)="onReset()"
    class="btn btn-warning float-right">
    Reset
    </p-button>
    <p-button type="submit" label="Register" severity="success" (onClick)="onSubmit()"></p-button>
</form>
</p-fieldset>


