<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">Ajouter un garantie</span>
        </div>     
    </ng-template>
    <form [formGroup]="garantieForm" >
        <span class="p-float-label">
            <input pInputText
            id="cin"    
            style="width: 240px;" 
            formControlName="cin" 
            />
            <label htmlFor="cin">N CIN</label>
          
        </span>
</form>
</p-fieldset>


